@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #f8f8f8;
  --foreground: #1f1f1f;
  --card: #fcfcfc;
  --card-foreground: #1f1f1f;
  --popover: #fcfcfc;
  --popover-foreground: #1f1f1f;
  --primary: #63493f;
  --primary-foreground: #ffffff;
  --secondary: #ffdfb1;
  --secondary-foreground: #592d1c;
  --muted: #eeeeee;
  --muted-foreground: #636363;
  --accent: #e8e8e8;
  --accent-foreground: #1f1f1f;
  --destructive: #e55032;
  --border: #d7d7d7;
  --input: #d7d7d7;
  --ring: #63493f;
  --chart-1: #63493f;
  --chart-2: #ffdfb1;
  --chart-3: #e8e8e8;
  --chart-4: #ffe7c7;
  --chart-5: #63493f;
  --sidebar: #fcfcfc;
  --sidebar-foreground: #242424;
  --sidebar-primary: #353535;
  --sidebar-primary-foreground: #fcfcfc;
  --sidebar-accent: #f8f8f8;
  --sidebar-accent-foreground: #353535;
  --sidebar-border: #ebebeb;
  --sidebar-ring: #b4b4b4;

  --font-sans:
    "Geist", "Geist Fallback", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif:
    "Geist", "Geist Fallback", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono:
    "Geist Mono", "Geist Mono Fallback", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;

  --radius: 0.5rem;

  --shadow-2xs: 0 1px 3px 0px rgb(0 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px rgb(0 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow: 0 1px 3px 0px rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 1px 3px 0px rgb(0 0 0 / 0.1), 0 2px 4px -1px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 1px 3px 0px rgb(0 0 0 / 0.1), 0 4px 6px -1px rgb(0 0 0 / 0.1);
  --shadow-xl: 0 1px 3px 0px rgb(0 0 0 / 0.1), 0 8px 10px -1px rgb(0 0 0 / 0.1);
  --shadow-2xl: 0 1px 3px 0px rgb(0 0 0 / 0.25);
}

.dark {
  --background: #121212;
  --foreground: #eeeeee;
  --card: #181818;
  --card-foreground: #eeeeee;
  --popover: #181818;
  --popover-foreground: #eeeeee;
  --primary: #fcdfc2;
  --primary-foreground: #0a191a;
  --secondary: #3a3128;
  --secondary-foreground: #fcdfc2;
  --muted: #222222;
  --muted-foreground: #b4b4b4;
  --accent: #2b2b2b;
  --accent-foreground: #eeeeee;
  --destructive: #e55032;
  --border: #211f1a;
  --input: #484848;
  --ring: #fcdfc2;
  --chart-1: #fcdfc2;
  --chart-2: #3a3128;
  --chart-3: #2b2b2b;
  --chart-4: #423930;
  --chart-5: #fcdfc2;
  --sidebar: #18181d;
  --sidebar-foreground: #f5f5f5;
  --sidebar-primary: #1d4eda;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #26262b;
  --sidebar-accent-foreground: #f5f5f5;
  --sidebar-border: #26262b;
  --sidebar-ring: #d3d3db;

  --shadow-2xs: 0 1px 3px 0px rgb(0 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px rgb(0 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow: 0 1px 3px 0px rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 1px 3px 0px rgb(0 0 0 / 0.1), 0 2px 4px -1px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 1px 3px 0px rgb(0 0 0 / 0.1), 0 4px 6px -1px rgb(0 0 0 / 0.1);
  --shadow-xl: 0 1px 3px 0px rgb(0 0 0 / 0.1), 0 8px 10px -1px rgb(0 0 0 / 0.1);
  --shadow-2xl: 0 1px 3px 0px rgb(0 0 0 / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

body {
  letter-spacing: var(--tracking-normal);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
